language: php
php:
  - 7.2
before_script:
  - "pecl install mongodb"
  - "phpenv config-add phpconfig.ini"
  - "composer install"
script:
  - "vendor/bin/phpunit --exclude-group long spec"
  - "vendor/bin/phpunit --group long spec"
sudo: false
services: mongodb
